*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hedar-section{
    background-color: rgb(241, 231, 241);
    width: 100%;
    height: 20px;
}
.hedar-section ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
  
.store-section{
    background-color: rgb(88, 84, 84);
    width: 100%;
}

nav img{
    height: 60px;
    margin-left: 50px;


}

.nav-links{
   
    display: flex;
    align-items: center;
    margin-left: 170px;
    margin-top: -60;
    width: 100%;
}

.nav-links li{

    height: 20px;
    margin-top: -80px;
    list-style: none;
    margin-right: 40px;
    color: white;
}

.hero-section{
    height: 70vh;
    width: 100%;
    background-color: rgb(249, 229, 204);
    display: flex;
    flex-direction: column;
    border-top: 15px solid rgb(235, 221, 145);
}
.product{
    font-size: 70px;
    margin-left: 80px;
}
.product p{
    font-size: 20px;
}

.jakeat-secttion{
    height: 100%;
    width: 100%;
    display:flex ;
    justify-content: space-between;
    margin: 40px;
}

.liven-section{
    height: 100%;
    width: 100%;
   background-image: url(./images/login-background.png);
   color: antiquewhite;
   border-top: 5px solid gold;
}
.liventext-section{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    
}

.cup-section{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    padding: 20px;
}
.liventext-section h1{
    font-size: 70px;
}
.liventext-section p{
    padding: 20px;
    
}
.football-section{
    background-color: azure;
    height: 80vh;
    width: 100%;
    border-top: 10px solid green;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */

}

.footballtext-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footballtext-section img{
    padding: 50px;
}

.footballtext-section h1{
    margin-right: 400px;
    font-size: 60px;
}
.footballtext-section p{
    font-size: 30px;
}


.team-section{
    height: 100vh;
    background-color: antiquewhite;
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}
.argentina-section span{
    height: 40%;
    width: 80%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.teamtext-section{
    background-color: rgb(66, 53, 53);
    height: 10%;
    
    display: flex;
    align-items:center ;
    justify-content: space-between;
    width: 30%;
     margin: 30px;
    color: white;
    
}
.foter-section{
    height: 100%;
    width: 100%;
    background-color: azure;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}
.fotertext-section{
    margin-right: 50px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fotertext-section ul{
    list-style: none;
    padding: 20px;
    margin-left: 50px;
}
.fotertext-section h1{
    padding: 10px;
    margin-right: 15px;
}
 .fotertext-section span h1{
    background-color: black;
    display: flex;
    align-items: center;
}

/* 
.franch-section{
    background-color: rgb(66, 53, 53);
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    flex-direction: c;
    margin: 50px;
    color: white;
    
}

.japan-section{
    background-color: rgb(66, 53, 53);
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin: 50px;
    color: white;
    
}
.mexico-section{
    background-color: rgb(66, 53, 53);
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin: 50px;
    color: white;
    
}
.tunis-section{
    background-color: rgb(66, 53, 53);
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin: 50px;
    color: white;
    
}
.moraco-section{
    background-color: rgb(66, 53, 53);
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin: 50px;
    color: white;
    
} */



.team-section img{
    height: 30px;
   
}



